/* Size for brand */
nav .navbar-brand
{
    font-size: x-large;
}

.container {
    margin-left: 50px;
    margin-right: 50px;
    padding-left: 15px;
    padding-right: 15px;
    font-family: "Comic Sans MS", "Comic Sans", cursive;
}

.center{
    text-align: center;
    font-size: large;
    font-family: "Comic Sans MS", "Comic Sans", cursive;
}

.author{
    text-align: right;
    font-size: medium;
    font-family: "Comic Sans MS", "Comic Sans", cursive;
    margin-right: 150px;
}

.crimson{
    color: #DC143C;
}

.paragraph{
    text-align: left;
    font-size: large;
    font-family: "Comic Sans MS", "Comic Sans", cursive;
    margin-left: 50px;
}

.large{
    font-size: x-large;
}

.medium{
    font-size: large;
}

.leftAlign{
    text-align: left;
    font-size: x-large;
    margin-top: 50px;
    font-family: "Comic Sans MS", "Comic Sans", cursive;
}

.grey{
    background-color: #F5F5F5;
}

.black{
    color:#000000
}

.darkgrey{
    color:#808080
}

.votes{
    font-size: medium;
    font-family: "Comic Sans MS", "Comic Sans", cursive;
}

.a{
    padding-left: 5px;
  }
  
.vote {
    display: inline-block;
    cursor: pointer;
    color: #687074
} 
  
  
.vote.on {
    color: #f48024
}

body {
    animation: fadeInAnimation ease 3s
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}
  
@keyframes fadeInAnimation {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
     }
}