/* Size for brand */
nav .navbar-brand
{
    font-size: x-large;
}

/* Colors for brand */
nav .navbar-brand .blue
{
    color: #537fbe;
}
nav .navbar-brand .red
{
    color: #ea433b;
}
nav .navbar-brand .yellow
{
    color: #f5b82e;
}
nav .navbar-brand .green
{
    color: #2e944b;
}

.container {
    margin-left: 100px;
    margin-right: 100px;
    padding-left: 15px;
    padding-right: 15px;
    font-family: "Comic Sans MS", "Comic Sans", cursive;
}

.center{
    text-align: center;
    font-family: "Comic Sans MS", "Comic Sans", cursive;
}

.large{
    font-size: x-large;
}

.leftAlign{
    text-align: left;
    margin-left: 100px;
    margin-top: 50px;
    color: #5c5c5c;
    font-family: "Comic Sans MS", "Comic Sans", cursive;
}