<!DOCTYPE html>

<html lang="en">

    <head>

        <meta charset="utf-8">
        <meta name="viewport" content="initial-scale=1, width=device-width">

        <!-- http://getbootstrap.com/docs/5.1/ -->
        <link crossorigin="anonymous" href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" rel="stylesheet">
        <script crossorigin="anonymous" src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"></script>


        <link href="/static/styles.css" rel="stylesheet">

        <title>Conspiracy Theories {% block title %}{% endblock %}</title>

    </head>

    <body>

        <nav class="bg-light border navbar navbar-expand-md navbar-light">
            <div class="container-fluid">
                <a class="navbar-brand" href="/">Conspiracy Theories</a>
                <button aria-controls="navbar" aria-expanded="false" aria-label="Toggle navigation" class="navbar-toggler" data-bs-target="#navbar" data-bs-toggle="collapse" type="button">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbar">
                    {% if session["user_id"] %}
                        <ul class="navbar-nav me-auto mt-2">
                            <li class="nav-item"><a class="nav-link" href="/">Home</a></li>
                            <li class="nav-item"><a class="nav-link" href="/recents">Recents</a></li>
                            <li class="nav-item"><a class="nav-link" href="/post">Post</a></li>
                            <li class="nav-item"><a class="nav-link" href="/quiz">Quiz</a></li>
                            <li class="nav-item"><a class="nav-link" href="/your-posts">Your Posts</a></li>
                        </ul>
                        <ul class="navbar-nav ms-auto mt-2">
                            <li class="nav-item"><a class="nav-link" href="/logout">Log Out</a></li>
                        </ul>
                    {% else %}
                        <ul class="navbar-nav ms-auto mt-2">
                            <li class="nav-item"><a class="nav-link" href="/register">Register</a></li>
                            <li class="nav-item"><a class="nav-link" href="/login">Log In</a></li>
                        </ul>
                    {% endif %}
                </div>
            </div>
        </nav>

        {% if get_flashed_messages() %}
            <header>
                <div class="alert alert-primary mb-0 text-center" role="alert">
                    {{ get_flashed_messages() | join(" ") }}
                </div>
            </header>
        {% endif %}

        <main class="container-fluid py-5 text-center">
            {% block main %}
            <div class="container">
                <h1 class="crimson">Post your conspiracy theories!</h1>
                <br>
            </div>
            <div>
                <form action="/post" id="userPost" method="post">
                    <h1 class="center">Title</h1>
                    <input form="userPost" name="name" id="name"></input>
                    <br>
                    <br>
                    <div class="form-group">
                        <select form="userPost" name="Genre">
                            <option disabled selected value hidden="">Genre</option>
                            <option value="politics">politics</option>
                            <option value="history">history</option>
                            <option value="aliens">aliens</option>
                            <option value="pop-culture">pop-culture</option>
                            <option value="miscellaneous">miscellaneous</option>
                        </select>
                    </div>
                    <br>
                    <div>
                        <h2 class="center">Description of conspiracy</h2>
                        <div>
                            <textarea form="userPost" rows="10" cols="80" name="post" id="post"></textarea>
                        </div>
                    </div>
                    <br>
                        <button class="btn btn-primary" type="submit">Post</button>
                </form>
            </div>
            {% endblock %}
        </main>

        <footer class="mb-5 small text-center text-muted">
            All posts on this website are not scientific facts. Please do not take anything too seriously
        </footer>

    </body>

</html>
